*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600&display=swap');
body{
    font-family:'Signika Negative', sans-serif;
}
header {
    top: 0%;
    z-index: 10;
    position: sticky;
    background-color: #3e834b;
}

.ul{
    text-align: center;
    position: absolute;
    text-decoration: none;
    
}

/*formato lista items index y toda la pagina para navbar*/
li {
    justify-content: space-between;
    display: inline-block;
    margin-top: 5px;
}
.nav-item {
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: small;
    right: 5px;
}
.navbar-light .navbar-nav .nav-link{
    color: whitesmoke;
    
}
.navcolor{
    background-color: #3e834b
}

.fuenteindex{
    text-align: start;
    font-size: small;
    font-style: oblique;
}

.imagencentrada{
    height: 159px;
    width: 317px;

}

/*formato anclas toda la pagina*/
a {
    text-decoration: none;
    color: #101010;
    
}
main{
    background-color:whitesmoke
}
.carousel-item {
    height: 60vh;
    width: 100%;
    
}
.carousel-item .imagenadaptada{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgserviciofiesta{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    right:10%;
    padding: 15px;
    
    
}
.buscador{
    display: flex;
    width: 500px;
    background-color: whitesmoke;
    font-family:'Signika Negative', sans-serif ;
    padding-left: 5px;
    
}
input{
    border-radius: 20px;
}
/*fin de formato total y del index*/

/*comienzo portal de ayuda*/

.Menu_ayuda{
    border: 2px solid #3e834b;
    border-radius: 20px;
    text-align: center;
    
}

.linkayuda:hover{
    background-color: none;
    color: #3e834b;
    
}

.paddingcustom{
    padding-left: 5px;
}

.contentcustom{
    font-size: small;
}
/*fin portal de ayuda */
/*comienzo sobre nosotros */
.imagenajustada{
    width: 275px;
    height: 183px;
}
.centradoaboutus{
    display: flex;
    justify-content: center;
    align-items: center;
}

.estilostaff{
    border-top: solid 2px;
    border-color: #3e834b;
    border-radius: 20px;
    border-bottom: solid 2px;
    border-color: #3e834b;
    border-radius: 20px;
}
.movertexto{
    text-align: end;
    padding-right: 150px;

}
/*fin sobre nosotros */
/*comienzo de footer*/
footer {
    border-top: 5px solid #3e834b;
}

/*fin de footer*/



