/*inicio carousel index*/
.carousel-item {
    height: 60vh;
    width: map-get($carousel, ancho-imagen-carousel);
}

.carousel-item .imagenadaptada{
    width: map-get($carousel, ancho-imagen-carousel);
    height:100%;
    object-fit: map-get($carousel, ajuste-carousel );
}
.imgserviciofiesta{
    width: map-get($carousel, ancho-imagen-carousel);
    height: 100%;
    object-fit: map-get($carousel, ajuste-carousel );
}
.starcolor{
    color: map-get($color ,star-color )
    
}
/* fin carousel index*/
/* inicio fuente index*/
.fuenteindex{
    text-align: start;
    font-size: small;
    font-style: oblique;
}
.fuentegossiper{
    @include color-fuente(#3e834b,bold);
}
/* fin fuente index*/
/*formato imagenes index*/

.imagencentrada{
    @include transition-transform(transform 1s,scale(1.1));
    height: 250px;
    }

    .imagencentrada:hover{
        translate: y(2%);
        
    }

