main{
    background-color: map-get($color , background-color );
        &button:hover{
        color: #fff;
        background-color: map-get($color , verde-gossip);
        border-color: map-get($color,verde-gossip);
        }
    
    }


    
    