/*Encuentra tu servicio*/

.widthcard{
    width: 18rem;
    background-color: map-get($color , background-color );
    .img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        transition: transform 0,5s ease-in-out;
        object-fit: cover;
        overflow: none;
        &:hover{
            transform: scale(1.2);
        }
    }
}
.card{
    border-color: map-get($color , background-color );
    .card-body{
        background-color: map-get($color , background-color );
    }
}

.list-group-item{
    background-color:  map-get($color , background-color );
    &:hover{
        background-color: map-get($color , verde-gossip);
    }
}

.fontservice{
    font-style:italic;
    text-decoration: none;
    color: #000000;
}
