/*inicio carousel index*/
.carousel-item {
    height: 60vh;
    width: map-get($carousel, ancho-imagen-carousel);
}

.carousel-item .imagenadaptada{
    width: map-get($carousel, ancho-imagen-carousel);
    height:100%;
    object-fit: map-get($carousel, ajuste-carousel );
}
.imgserviciofiesta{
    width: map-get($carousel, ancho-imagen-carousel);
    height: 100%;
    object-fit: map-get($carousel, ajuste-carousel );
}
.starcolor{
    color: map-get($color ,star-color )
    
}
/* fin carousel index*/
/* inicio fuente index*/
.fuenteindex{
    text-align: start;
    font-size: small;
    font-style: oblique;
}
.fuentegossiper{
    color: map-get($color , verde-gossip);
    font-style: bold;
    text-decoration: underline;
}
/* fin fuente index*/
/*formato imagenes index*/

.imagencentrada{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 1s;
    }

    .imagencentrada:hover{
        transform: scale(1.1) translateY(2%);
        
    }