main{
    background-color: $body-color;
        &button:hover{
        color: #fff;
        background-color: $color-primariogossip;
        border-color: $color-primariogossip;
        }
    
    }
    
    